@import url(variables.css);
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: beige;
  margin-top: 60px;
  font-size: 60px;
};

@keyframes example {
  0% {
    background-color: rgb(142, 184, 216);
  }
  25% {
    background-color: rgb(150, 157, 240);
  }
  50% {
    background-color: rgb(93, 86, 199);
  }

  75% {
    background-color: rgb(62, 77, 209);
  }
  100% {
    background-color: rgb(142, 184, 216);
  }
}
@media screen and (max-width: 800px) {
  .card {
    background-color: rgb(148, 218, 159);
    width: 90%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1075px) {
  .card {
    background-color: rgb(69, 109, 77);
    width: 45%;
  }
}
:root {
  --black: #000;
  --light-blue: #2998ff;
  --dark-blue: #135cc5;
  --light-red: #f87171;
  --dark-red: #dc2626;
  --gray: #252c30;

  --primary: var var(--light-blue);
  --secondary: var(--dark-blue);

  --h1: 7.594rem;
  --h2: 5rem;
  --h3: 3.7rem;
  --h4: 2rem;
  --h5: 1rem;
}
.hero {
  background-color: var(--primary) ;
}
.main{
  background-color:var(--secondary) ;
  height: 90vh;
}
h1{
  font-size: var(--h1);
}
h2{
  font-size: var(--h2);
}
h3{
  font-size: var(--h3);
}
h4{
  font-size: var(--h4);
}
h5{
  font-size: var(--h5);
}
h1,h2,h3,h4,h5 {
  text-align: center;
}